.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1.5px solid crimson;
    color: white;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: crimson;
}

.paginationActive a{
    color:white;
    background-color: crimson;
}